
body {
  margin: 8px;
}

body,
input,
select,
textarea {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

li {
  list-style-type: none;
}

.disabled {
  color: #888888;
}

#methodsearch {
  width: 500px;
  position: relative;
}
#methodtitle {
  width: 248px;
}
#methodlist {
  margin-left: 176px;
  padding-left: 0;
  width: 246px;
  position: absolute;
  top: 6px;
  background-color: aliceblue;
}
#methodlist li {
  display: none;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 0;
  width: 100%;
  z-index: 1000;
  background-color: aliceblue;
}
#methodlist li:hover, #methodlist li.selected {
  background-color: lightsteelblue;
}



table {
  display: none;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

td.methodtitle {
  color: #1a1ad6;
}
td.methodtitle:hover {
  text-decoration: underline;
  cursor: pointer;
}

td.same {
  color: gray;
}

td:last-child {
  text-align: right;
}


